body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 50px;
    height: 80px;
}
#nav-container img {
    max-width: 20%;
}
.nav-links {
    display: flex;
    gap: 20px;
    font-size: 30px;
    list-style: none;
}
ul a {
    text-decoration: none;
    color: #0c1753;
}
header {
    background-color: #9375ff;
    margin: 0px;
    padding: 80px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#header-div {
    color: white;
    font-size: 1.6em;
    width: 40%;
    display: flex;
    flex-direction: column;
}
header h2 {
    font-size: 2em;
}
#header-img {
    max-width: 55%;
}
#header-div button {
    color: #00a69c;
    background-color: #ffe101;
    font-size: 50px;
    border-radius: 20px;
    font-weight: 500;
    width: 50%;
    align-self: center;
    border-color: lightgray;
}
#card-div {
    display: flex;
    justify-content: space-around;
    padding: 30px 60px;
    background-color: #f3f6f4;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: white;
}
.card img {
    max-width: 100px;
    padding: 25px;
}
.card-img {
    width: 150px;
    height: 150px;
    background-color: #fee552;
    border-radius: 50%;
}
#h2-2 {
    text-align: center;
    color: #00a69c;
    font-size: 50px;
}
.main-div {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: 15px;
    margin: 50px;
}
.main-div img {
    max-width: 30%;
}
.main-div div{
    align-self: center;
    max-width: 40%;
    line-height: 30px;
}
.main-div h3 {
    color: #00a69c;
    font-weight: 700;
    font-size: 27px;
}
#flex-rev{
    flex-direction: row-reverse;
}
.main-div ul {
    font-size: 13px;
}
#form-div {
background-color: #0c1753;
color: white;
display: flex;
justify-content: space-evenly;
padding: 60px;
}
#form-div h2 {
    font-size: 50px;
    width: 30%;
}
#contact-id {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 500;
    width: 50%;
}
input {
    margin: 10px 0;
    width: 89%;
    border-radius: 7px;
    padding: 15px 30px;
    font-size: 18px;
}
textarea {
    height: 150px;
    width: 89%;
    margin: 10px 0;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 18px;
}
#form-div button {
    background-color: #ffe101;
    color: #0c1753;
    margin: 10px 0;
    padding: 15px 30px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 700;
}
#form-row {
    display: flex; 
    flex-direction: row;
    width: 85%;
}
#city {
    margin-left: 50px;
}
#copy-div {
    background-color: #9375ff;
    color: #f3f6f4;
    padding: 5px;
    text-align: center;
    font-size: 22px;
}
#footer-div {
    display: flex;
    justify-content: space-between;
    padding: 70px 50px;
    font-size: 30px;
    line-height: 50px;
    color: #00a69c;
}
#footer-div img {
    align-self: center;
    width: 25%;
    height: 25%;
}
#footer-div ul {
    list-style: none;
}
#copy-div span{
    color: #0c1753;
}
.contact-icons {
    display: inline;
    padding: 15px;
}