body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}
.flex {
    display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.align-center {
    align-items: center;
}
.btn {
	background-color: #ffe101;
	font-weight: 600;
	font-size: 40px;
	border-style: none;
	border-radius: 10px;
	padding: 7px 30px;
}
.nav-foot {
	justify-content: space-between;
	font-size: 30px;
}
.nav-foot ul {
	list-style: none;
}
#nav-container {     
    padding: 2px 50px;
    height: 80px;
}
#nav-container img {
    width: 250px;
}
#nav-links {
    gap: 20px; 
}
ul a {
    text-decoration: none;
    color: #0c1753;
}
header {
    background-color: #9375ff;
    padding: 80px 50px;
    justify-content: space-around;
}
#header-div {
    color: white;
    font-size: 1.6em;
    width: 500px;
}
h2 {
    font-size: 50px;
}
#h2-2 {
    text-align: center;
    color: #00a69c;
}
#header-img {
    width: 700px;
}
#header-div button {
    color: #00a69c;
    width: 220px;
    align-self: center;
}
#card-div {
    justify-content: space-around;
    padding: 30px 60px;
    background-color: #f3f6f4;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    width: 300px;
    height: 300px;
    margin: auto;
    justify-content: center;
    font-size: 35px;
    background-color: white;
}
.card img {
    max-width: 100px;
    padding: 25px;
}
.card-img {
    width: 150px;
    height: 150px;
    background-color: #fee552;
    border-radius: 50%;
}
.main-div {
    justify-content: space-around;
    font-weight: 400;
    font-size: 15px;
    margin: 50px;
}
.main-div img {
    width: 400px;
}
.main-div div{
    align-self: center;
    width: 400px;
    line-height: 30px;
}
.main-div h3 {
    color: #00a69c;
    font-weight: 700;
    font-size: 27px;
}
#flex-rev{
    flex-direction: row-reverse;
}
.main-div ul {
    font-size: 13px;
}
#form-div {
background-color: #0c1753;
color: white;
justify-content: space-evenly;
padding: 60px;
}
#form-div h2 {
    width: 350px;
}
#contact-id {
    font-size: 25px;
    font-weight: 500;
    width: 600px;
}
.input-text-form {
    margin: 10px 0;
    width: 540px;
    border-radius: 7px;
    padding: 15px 30px;
    font-size: 18px;
}
textarea {
    height: 150px;
}
#form-div button {
    color: #0c1753;
    margin: 10px 0;
}
#form-row {
    flex-direction: row;
}
#fullname {
    width: 230px;
}
#city {
    width: 230px;
    margin-left: 15px;
}
#copy-div {
    background-color: #9375ff;
    color: #f3f6f4;
    padding: 2px;
    text-align: center;
    font-size: 22px;
}
#footer-div {
    padding: 40px 50px;
    line-height: 50px;
    color: #00a69c;
}
#footer-div img {
    align-self: center;
    width: 250px;
    height: 150px;
}
#copy-div span{
    color: #0c1753;
}
.contact-icons {
    display: inline;
    padding: 15px;
}
@media only screen and (max-width: 1000px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    #nav-container {
        height: 100%;
        flex-direction: row;
        font-size: 100%;
    }
    #nav-container img {
        width: 40%;
    }
    #nav-links {
        gap: 20%; 
    }
    h2 {
        font-size: 30px;
    }
    #header-div {
        width: 100%;
    }
    #header-img {
        width: 100%;
        margin-top: 30px;
    }
    .card {
        margin-bottom: 30px;
    }
    #flex-rev {
        flex-direction: column;
    }
    #contact-id {
        width: 100%;
    }
    .input-text-form {
        width: 80%;
    }
    #fullname, #city {
        width: 60%;
        margin-left: 0px;
    }
    #footer-div {
        line-height: 35px;
        font-size: 15px;
    }
    #footer-div img {
        width: 40%;
        height: 40%;
    }
    #copy-div {
        font-size: 100%;
    }
}